<form >
  <div class="form-group">
     <label for="firstName">First Name </label>
   <input required id="firstName" ngModel name="firstName" #firstName="ngModel" type="text" (change)="log(firstName)" class="form-control">
   <div class="alert alert-danger" *ngIf="!firstName.valid">First Name is required</div>
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <textarea id="comment" cols="30" rows="5" class="form-control">
    </textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>